################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VenuBookingSystem/obj
/VenuBookingSystem/bin/Debug/net6.0
/.vs
